.container{
    /*background-image: url('../../assets/imgback.png') ;
     */
    display: block;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.text1{
    font-size: 0.8em;
    font-weight: 900;
}

.text1 button{
    margin: 2em;
    background-color: var(--dark-blue);
    border-radius: 1em;
    box-shadow: var(--deep-blue) 0px 10px 5px 3px;
    height: 3em;
    width: 20em;
}