:root {
  --deep-blue: #054e8d;
  --dark-blue: #0468bf;
  --light-blue: #05dbf2;
  --green: #09a603;
  --white: #fff;
  --black: #0000;
  --gray: #252525;
  --red: #590902;
  --brown: #f29d52;
  --footer-background: #1e1e1e;
  --background-color: #181818;
  --hr-color: #353535;
  --text-muted: rgba(255, 255, 255, 0.3);
  --text-muted-2: rgba(255, 255, 255, 0.5);
  --text-color: #e7e7e7;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  max-width: 100%;
  background-color: var(--background-color);
}

hr {
  width: 90%;
  height: 3px;
  margin: 0 auto;
  border-radius: 20px;
  background-color: var(--hr-color);
}

.btn {
  width: 512px;
  height: 91px;
  background-color: var(--dark-blue);
  border-radius: 15px;
  box-shadow: var(--deep-blue) 0px 4px 0px 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 3%;
  transition: .3s;
}

.btn:hover {
  transition: .3s;
  transform: scale(1.075);
  box-shadow: var(--deep-blue) 0px 4px 0px 10px;
}

@media only screen and (max-width: 690px) {
  body {
    font-size: 0.6em;
  }
}

@media only screen and (max-width: 610px) {
  .btn {
    width: 80vw;
  }
}
