.navbar {
  width: 100%;
  height: 100px;
  max-width: 100%;
  margin-bottom: 0.5%;
  background-color: var(--dark-blue);
  box-shadow: var(--deep-blue) 0px 13px 0px 0px;
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 5% 0 5%;
}

.navLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.navLinks li {
  display: flex;
  gap: 25px;
}

.navLinks li a {
  color: var(--white);
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 700;
  transition: .3s;
}

.navLinks li a:hover {
  transform: scale(1.05);
}

.switchContainer {
  transition: .3s;
  display: flex;
  gap: 10px;
}

.switchDefault {
  display: flex;
  width: 50px;
  background-color: var(--text-muted);
  border-radius: 9999px;
  justify-content: left;
  align-items: center;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
  cursor: pointer;
}

.switchSelected {
  transition: .3s;
  background-color: var(--deep-blue);
  justify-content: right;
}

.switchBall {
  transition: .3s;
  margin: 0px 5px;
  background-color: white;
  width: 20px;
  height: 20px;
  border-radius: 9999px;
  text-align: left;
}

.icon {
  height: 0px;
}

.icon img {
  height: 28px;
  margin: 0;
}

.scrollToTopButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: var(--dark-blue); 
  color: white; 
  border: none;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  font-size: 2em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  transition: .2s;
  z-index: 2;
}

.scrollToTopButton:hover {
  transform: scale(1.1);
  background-color: var(--deep-blue);
}

.fadeOut {
  opacity: 0; 
}
